<!DOCTYPE HTML>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
<head>
<title>Bookstore: Book List</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<link type="text/css" rel="stylesheet" href="css/bootstrap.min.css" th:href="@{css/bootstrap.min.css}" />
</head>

<body style= "margin: 15px;">
	<h1>Book List</h1>
	<table class="table table-striped">
		<tr>
			<th>Title</th>
			<th>Author</th>
			<th>Year</th>
			<th>Category</th>
			<th>ISBN</th>
			<th>Price</th>
			<th>Edit</th>
			<th>Delete</th>
		</tr>

		<tr th:each="book: ${books}">
			<td th:text="${book.title}"></td>
			<td th:text="${book.author}"></td>
			<td th:text="${book.year}"></td>
			<td th:text="${book.category.name}"></td> 		
			<td th:text="${book.isbn}"></td>
			<td th:text="${book.price}"></td>
			<td><a th:href="@{/edit/{id}(id=${book.id})}" class="btn btn-warning" > Edit </a></td>  
			<td><a th:href="@{/delete/{id}(id=${book.id})}" class="btn btn-danger">Delete</a></td>   
		</tr>
	</table>


	<a href="/">Back to main page</a> <br>
	<a href="/add"> Add new book</a>
</body>
</html>