<!DOCTYPE HTML>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
<head>
<title>Edit Book</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<link type="text/css" rel="stylesheet" href="css/bootstrap.min.css" th:href="@{/css/bootstrap.min.css}" />

</head>

<body style= "margin: 15px;">

<h1 th:text ="'Edit book'"></h1>
	
		<div class="form-group">
		<form class="form-horizontal" action="#" th:action="@{/submit}" th:object="${book}"
			method="post">
			<input type="hidden" id="id" th:field="*{id}" />
			
			<label for="title" class="control-label col-sm-2">Title</label> 
			<input type="text" id="title" th:field="*{title}" class="form-control" /> <br>
			
			<label for="author" class="control-label col-sm-2">Author</label> 
			<input type="text" id="author" th:field="*{author}" class="form-control" /> <br>
			
			<label for="year" class="control-label col-sm-2">Year</label>
			<input type="text" id="year" th:field="*{year}" class="form-control" /> <br>
			
			<label for="catelist" class="control-label col-sm-2">Category</label> 
			<select id="catelist" th:field="*{category}" class="form-control">
				<option th:each="category: ${categories}" th:value="${category.id}" th:text="${category.name}"></option>
			</select> <br>
			
			<label for="isbn" class="control-label col-sm-2">ISBN</label> 
			<input type="text" id="isbn" th:field="*{isbn}" class="form-control" /> <br>
			
			<label for="price" class="control-label col-sm-2">Price</label> 
			<input type="text" id="price" th:field="*{price}" class="form-control"  /> <br>
			

			<div style="clear: both; display: block; height: 10px;"></div>

			<input type="submit"  class="btn btn-success" value="Submit" />

		</form>
	</div>
	
</body>
</html>